@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@tailwind base;
@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/flatpickr.scss';
@import 'additional-styles/theme.scss';

// -- RESPONSIVE COMPONENTS

// -- TOASTS
.toast-position {
    @media only screen and (min-width: 700px) {
        top: 22vh !important;
        right: 6vh !important;
    }

    @media only screen and (min-width: 1278px) {
        top: 22vh !important;
        right: 10vh !important;
    }
    
    @media only screen and (min-width: 1600px) {    
        top: 22vh !important;
        right: 15vh !important;
    }
    
    @media only screen and (min-width: 2130px) {
        top: 22vh !important;
        right: 30vh !important;
    }
    
    @media only screen and (min-width: 2140px) {
        top: 22vh !important;
        right: 30vh !important;
    }
    
    @media only screen and (min-width: 2250px) {    
        top: 22vh !important; 
        right: 30vh !important;
    }
    
    @media only screen and (min-width: 2500px) {
        top: 10vh !important; 
        right: 5vh !important;
    }
}
// -- TOASTS

// -- RESPONSIVE COMPONENTS

// -- BUTTONS
.bg-gradient-primary-500 {
    background:  linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
}

.bg-gradient-primary-500:hover {
    background: linear-gradient(65deg, #0270D7 0, #0F8AFD 10%);
}

.bg-gradient-danger-500 {
    background: linear-gradient(65deg, #c24f4f 0, #ff0000 10%);
}
// -- BUTTONS

// -- COLORS
.color-primary-500 {
    color: #0270D7 !important;
}

.color-primary-400 {
    color: #0F8AFD !important;
}

.color-primary-100 {
    color: #a6c6f0 !important;
}
// -- COLORS

// -- IMAGES
.shadow-transparent-image {
    filter: drop-shadow(0 0 20px #121212);
}
// -- IMAGES

// -- INPUTS
.hide-error-input-message {
    display: none;
}
// -- INPUTS

::-webkit-scrollbar {
    width: 0.2em;
    background-color: hsla(0, 0%, 0%, 0);
}
    
/* Track */
::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 0%, 0);
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 0%, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@tailwind utilities;

